<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto mx-auto">
            <h1 class="mb-4">BGPrograms</h1>
            <h3 class="mb-5"><em>Gestión de programas para el trabajo personal</em></h3>
            <a class="btn btn-primary" href="/auth/signin">Acceder</a>
        </div>
    </header>
</main>