
body{
background: url('/img/background.jpg');
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
font-family: 'Orbitron';
font-style: normal;
font-weight: 400;
font-display: swap;
overflow: hidden;
width: 100vw;
height: 100vh;
}
.masthead{
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 25rem;

}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}