<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    {{#if user}}
    <a class="navbar-brand" href="/about">
      BGPrograms
    </a>
    <div class="align-items-center" id="navbarNavAltMarkup">
      <div class="navbar-nav al-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{user.username}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/profile">Mi Cuenta</a></li>
            <li><a class="dropdown-item" href="/programs">Mis Programas</a></li>
            <li><a class="dropdown-item" href="/auth/logout">Cerrar Sesión</a></li>
          </ul>
        </li>
        {{else}}
        <a class="navbar-brand" href="/">
          BGPrograms
        </a>
        <div class="align-items-center" id="navbarNavAltMarkup">
          <div class="navbar-nav al-auto">
            <a class="nav-link" href="/about">Sobre Nosotros</a>
            <a class="nav-link" href="/contact">Contacto</a>
            <a class="nav-link" href="/auth/signin">Acceder</a>
            {{/if}}
          </div>
        </div>
      </div>
</nav>